
/*
footer set up reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers
*/
body {
  padding: 0;
  margin: 0;
  font-family: Optima;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
  color: #000;
}

h1 {
  font-family: Didot;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: Didot;
  margin: 0;
  padding: 0;
}

a:visited {
  color: #333;
}

nav {
  font-family: Optima;
  background-color: #efefef;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  border-top: 10px solid #085dad;
  border-bottom: 1px solid #aaa;
  margin-bottom: 16px;
}

nav a {
  margin-right: 8px;
}
.current {
  font-weight: bold;
}

.content {
  font-family: Optima;
  padding-left: 8px;
  margin-bottom: 20px;
  width: 80%;
}

.content p {
  font-size: 1em;
}

footer {
  width: 100%;
  border-bottom: 10px solid #666666;
  /*border-top: 1px solid #aaa;
  padding-bottom: 12px;
  padding-top: 10px;*/
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  height: 36px
}

.homeimg {
  margin-top: 12px;
  width: 400px;
  height: 300px;
  border: 1px solid #333;
}
