
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: Optima;
}

h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}


nav {
  font-family: Optima;
  background-color: #fff;
  padding-top: 20px;
  padding-left: 8px;
  padding-bottom: 20px;
}

nav a {
  margin-right: 8px;
}
.current {
  font-weight: bold;
}

.content {
  font-family: Optima;
  padding-left: 8px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding-bottom: 12px;
  padding-top: 10px;
  position: absolute;

}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
